body {
	text-align: center;
	font: status-bar;
	background: #061619;
    margin: 0;
}

#allcontent {
    padding-top: 60px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background:#067782;
	padding-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	}

ul {
    list-style-type: none;
    margin: 5px;
}

nav li {
	display: inline;
	padding: 15px;
}

nav li.selected {
    background-color: #0C2229;
    box-shadow: 3px 0px 5px #0C2229; /****/
}

nav a {
	color:#e2e9c0;
	font-size: 14pt;
    text-decoration: none;
}

nav li:hover a {
    color: black;
}
nav li:hover, button:hover {
    cursor: pointer;
    background-color: #1CB1BF;
    box-shadow: 3px 0px 5px #0C2229;
}


.home {
	background: #067782;
	font-size: large;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

button {
    background: #067782;
    padding: 15px;
    margin: 10px;
    font-size: 14pt;
    border-width: 0;
    /*box-shadow: 5px 5px 0 #532831;*/
    box-shadow: 5px 5px 5px black;   
}

.list {
    width: 45%;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.list ul {
    padding: 0;
}

.list li {
    font-size: large;
    display: block;
    margin-bottom: 10px;
    background: #1CB1BF;
    padding: 10px;
}

.list h2 {
    background: #067782;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    margin: 0 -10%;
}

.b-popup .b-popup-content {
    margin: 100px auto;
    width: 200px;
    height: 150px;
    padding: 20px;
    background-color: #1CB1BF;
    box-shadow: 0px 0px 20px #532831;
}

.b-popup-content form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.b-popup-content input {
    height: 22%;
    text-align: center;
    box-shadow: 5px 5px 0 #532831;
    border: none;
}

.butsubmit {
    background-color: #067782;
    font-weight: bold;
}




